body{

   background-color: #616161;
}
h1{
  display: flex;
  color:    #990000;
  justify-content: center;
text-decoration: underline;
}
.foot{
  background-color:   #990000;
  color: black;
  padding:5px;
  width: max;
  height: max;
  display: flex;
  align-self: stretch;
  width: max;
  margin-top:35%;


}
#Searchshows{
  display: flex;
  justify-content: center;
  background-color: #990000;
}
