body{

   background-color: #616161;
}
h1{
  display: flex;
  color:    #990000;
  justify-content: center;
  margin-left: 2%;
}

.Input{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: 	#FAF0E6;
  text-justify: inter-word;
  margin-left: 3%;
}
#back{
  background-color: 	#FDF5E6;
  height:20px;
  width:65px;
  float: right;
  margin-bottom: 20%;
}


.foot{
  background-color:   #990000;
  color: black;
  padding:5px;
  width: max;
  height: max;
  display: flex;
  align-self: stretch;
  width: max;
  margin-top:16%;
  margin-bottom: 0px;

}
#shows{
  margin-top: 10%;
}
#settings{
  background-color:	#FAF0E6;
}

#yours{
  text-align: center;
  margin-left: 5%;
}
#SubmitWatched{
    background-color:#FDF5E6;

}
#usershow{
  background-color:#FDF5E6;

}
