body{

   background-color: #616161;
}
h1{
  color:  #990000;
  text-align: center;
}


#buttons{
  display:grid;
  flex: 40px;
  grid-template-rows: 1fr 1fr ;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 2vw;

  /* text-align: center; */
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  color:blue;
  width: 100px;
  height: 100px;
  flex-flow: row wrap;
  flex-direction: column;

  justify-content: center;

}
.friends{
  margin-left :50%;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  width: 250px;
  align-items: center;
  cursor: pointer;
  background-color: 	#FDF5E6;
  color: black;
}
.pro{
  height: 50px;
  width: 250px;
  align-items: center;
  cursor: pointer;
  background-color: 	#FDF5E6;
  color: black;
}
.shows{
  height: 50px;
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
  flex-flow: wrap;
  cursor: pointer;
  background-color: 	#FDF5E6;
  color: black;
}
.content{
  padding-bottom: 10rem;


}

.foot{
  background-color:  #990000;
  color: black;
  padding: 5px;
  width: max;
  bottom:0;
  margin-top:20%;


}
