<!DOCTYPE html>
<html>
<head>
  <title>Shomigo</title>
  <link rel = "stylesheet" href = "css/style.css">
  </head>
  <body >
    <h1>
      WELCOME TO SHOMIGO
    </h1>
<div class="buttons">
    <form action="/profile">
      <button id="pro" type="submit">Your Profile</button>
    </form>
    <form action="/list">
      <button id="shows" type="submit">T.V. Show List</button>
    </form>
    <form action="/friends">
      <button id="friends" type="submit">Friends</button>
    </form>
</div>
  </body>
</html>
