body{
  background-color: silver;
}
h1{
  color: red;
  text-align: center;
}


/* .buttons{
  display:flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  color:blue;
  width: auto;
  height: auto;*/

#sign_in {
  height: 20%;
  width: 20%;

}
